<!DOCTYPE html>
<html>
  <head>
    <title>Codebreaker</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  <body>
    <div id="container">

        <div class="table_form">

          <div class="head_form">
            <div class="cell">
              <p>Name</p>
            </div>
            <div class="cell">
              <p>Number of made attempts</p>
            </div>
            <div class="cell">
              <p>Secret code</p>
            </div>
          </div>

          <div class="data">
            <% if final_results %>
              <% final_results.each_with_index do |val, i| %>
                <div class="cell">
                  <p><%= final_results[i] %></p>
                </div>

              <% end %>
            <% end %>
          </div>

        </div>

        <div class="buttons">
          <form method="post" action="/start_game" class="no">
            <input type="submit" value="Start new game" class="button_no">
          </form>

          <form method="post" action="/" class="no">
            <input type="submit" value="Back" class="button_no">
          </form>
        </div>
    </div>

  </body>
</html>